.navigation {
    display: inline;
    font-size: 13px;
    border-style: none;
    background-color: transparent;
    text-decoration: none;
    color:#414040; 
    text-decoration: none;
    /*float: left;
    */



}
.navigation .ul1 {
    display: inline;
    color: #414040;
    list-style-type: none;
    margin :0;
    /*padding: 0; */
    padding-right: 5%;
    
    
}
.navigation .ul2 {
     display: inline;
    color: #414040;
    list-style-type: none;
    margin :0;
    /*padding: 0; */
    padding-right: 2.5%;
    
}
.navigation li{
    display: inline;
    color: #414040
    text-align: center;
    margin-right: 1%; 

    line-height: 35px;




}
.navigation li:not(:first-child){
    display: inline;
    border-right: 2px solid rgb(190, 190, 190); 
    text-align: center;
    padding: 3px 15px;

}

.navigation a:hover {
    color: #cf0067;
    background-color: transparent;
    text-decoration: none;
    
}

.navigation :link, :visited {
    color:#414040; 
    background-color: transparent;
    text-decoration: none;
     

}
.navBorder {
    background-image: linear-gradient(to right, #fe0613 , #8b00ae);
    height: 2px;

}
.search {

    float: left;
    border-style: none;
    text-decoration: none;
    background-color: transparent;
    margin : 0;
    padding:0;
    width: 100%;
    /*width: 100%;
    height: 100%;*/
    /*border: 2px solid;*/
    

} 


#searchLogo {
    float: left;
    width: 13%;
    height : 1%;
    margin-left: 16%;
    margin-top:  5%;
}

#searchPizza{
    float:  left;
    width: 30%;    
    overflow: hidden;
}
#searchText1{
    position: absolute;
    float: right;
    font-size: 30px;
    font-weight: bold;
    margin-right:20%; 
    margin-top: 12%;
    margin-bottom: 0;
    padding : 0;
    color: black;
}
#searchText2{
    position: absolute;
    float: right;
    color: gray;
    font-size: 14.5px;
    margin-right: 22.8%; 
    margin-top: 16%;
}

.searchBar {
    float: left;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
    right:2%;
    position: relative;
    padding-bottom: 10px;
    width:  780px;
    height: 70px;
    border: 1px solid #dfdfdf;
    background-color: #ffffff;
    border-radius:8px;
    -webkit-box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 10px 4px rgba(0,0,0,0.14);
}

.selectBar {
    float: left;
    position: relative;
    background-color: white;
    border-radius: 10px;
    margin-left: 55%;
    margin-top: 3%;
    border-style: none;
    text-decoration-color: black;
    /*border-color: silver;*/
    width: 145px;
    height: 55px;
    font-size: 15px;
    border: 0.5px solid silver ;

}
.selectBar::placeholder{
    position: relative;
    color:black;
    padding-right:40%;

}
 .selectBarIcon{
    color: black;
    position: relative;
    top: 40%;
    right: 10%;
    font-size: 15px;

}

/*.selectBar::-webkit-input-placeholder { 
  color: black;
  position: relative;
  left: : -10.1px;
  align-content: left;
  float: center;
  padding-left: :10px;
}*/

.inner-addon { 
    position: absolute; 
    float: left;
    color:silver;
    margin-right:21.5%;
    margin-top: 1.4%;
    width : 356px;
    height: 60px;
}

.inner-addon .fa-map-marker-alt{
  position: absolute;
  float: left;
  font-size: 25px;
  color: #DCDCDC;
  background-color: transparent;
  padding-top: 10px;
  padding-right:12px;
  pointer-events: none;
}

.SearchInput{
    position: absolute;
    float: left;
    padding-right: 11%;
    font-size: 15px;
    width : 500px;
    height: 55px;
    border-radius:0 10px 10px 0px;
    border-style: none;
    border: 0.5px solid silver ;


}
/*.SearchInput:after{
            content: '';
            display: block;
            position: absolute;
            width: 1000000px;
            top: 0px;
            left: 0px;
            border: 5px solid red;

}
*/
#topSearchBar{
    position: absolute;
    color: #383838;
    top : 3%;
    right: 23.3%;
    font-size: 10px;
    padding-left: 20px;
    background-color: white;
}

#searchIcon {
    position: absolute;
    float: left;
    width: 58px;
    height: 57px; 
    margin: 0%;
    border: 0%;

    padding-right: 151.81%;

}
#lastSearchedItem{

    position: absolute;
    float: right; 
    margin-top: 11.3%;
    margin-right: -46%;
    /*margin-left: 80%;*/
    font-size: 13px;
    color: gray;
    text-decoration: underline;

}

.fa-history{
  position: absolute;
  float: left;
  font-size: 11px;
  background-color: transparent;
  padding-top: 11.5%;
  text-decoration :underline;
  margin-right:-46.8%;
  color: gray;
  pointer-events: none;
}
.information_table{
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 123px 10.5px;
    padding-top: 18px;
    border-top: 2%;
    color: #A9A9A9;

    
    float: left;
    
}

    .information_table .firsRow{
        display: inline-block;
        border-style: none;
        text-decoration: none;

    }

    .information_table .secondRow {
        height: 120px;
        width:350px;
        /*border-spacing: 10px 25px;*/

        border: 1px solid #dfdfdf;
        background-color: #ffffff;
        
        -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.14);
        -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.14);
        box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.14);
    }

    .secondRow  .imageElements {
        position: relative;
        float: right;
        padding-right:4%;
        padding-top: 4%;
        width: 70px;
        height: 70px;

}
.secondRow p {
    padding-right: 90px;
    color: #C0C0C0;
    font-size:13px;
}


    
#top_restaurants_header {
    float: left;
    /*font-weight: bold;*/
    margin-top: 7%;
    margin-left: 28%;
    color: black;
    font-size: 27px;


}

.top_restaurant_grid {
    display: grid;
    grid-column-gap: 70px;
    grid-template-columns: auto auto auto;
    padding: 100px;
    margin-left: 0%;
    
}

.restaurant {
    width: 350px;
    height: 350px ;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    margin: 0%;
    border: 0%;
    padding: 0%;
    margin-top:30%;
    font-size: 18px;
    text-align: center;
    cursor:pointer;
}
.top_restaurant_grid :hover {
   
    -webkit-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.14);
    -moz-box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.14);
    box-shadow: 2px 2px 10px 3px rgba(0,0,0,0.14);
}
.restaurant :hover:not(.pic-rest){
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.14);
}
.restaurant h3 {
    margin-top :3%;
}
.restaurant img {
    margin-top: 8%;
}
.top_restaurant_grid :hover .restaurantButton{
    background-color:#cf006815;

}

.pic-rest{
    all: revert;
    height: 80px;
    width: 80px;

    margin-block-start: 5%;
    -webkit-box-shadow: 1px 1px 10px 2px rgba(214,214,214,1);
    -moz-box-shadow: 1px 1px 10px 2px rgba(214,214,214,1);
    box-shadow: 1px 1px 10px 2px rgba(214,214,214,1);
    border-radius: 5px;
}
.info { 
    margin-block-start: 4%;
    color: #6b6b6b;
    font-weight:normal
}
.info2 { 
    margin-block-start: 5%;
    color: #8b8b8b;
    font-weight:normal
    margin-bottom:30%;
}
.restaurantButton {
    background-color:#ffffff;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    border:1px solid #cf0068;
    display:inline-block;
    cursor:pointer;
    color:#cf0068;
    font-family:Impact;
    font-size:13px;
    padding:8px 27px;
    margin-block-start: 8%;
    text-decoration:none;
}
.restaurantButton:hover {
    background-color:#cf006815;
}
.restaurantButton:active {
    position:relative;
}

.voteQuantity{
    margin-top: 20%;
    color: #C0C0C0;
    font-size:10px;
}

*{
    margin: 0;
    padding: 0;
}
.rate {
     float:unset; 
    text-align: center;
    height: 20px;
    width: 110px;
    /* padding: 0 10px; */
    /* margin: auto; */
    /* width: 75%; */
    /* padding: 10px; */
    
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;

}
.rate:not(:checked) > label {
    float:right;
    width:20px;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:12px;
    color:#ccc;
    padding-top: 2px;
    padding-left: 2px;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate:hover,
.rate:hover ~ .rating-star,
.rate:checked ~ .rating-star {
    background-position: 0 0;
}

.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.gs {
    display: inline;
    align-content: center;
    text-align: center;
}
.gs pre {
    color: #ffc700;  
    font-size: 14px;
    padding-top: 10%;
}
.gss{
    display: inline;
    align-content: center;
    text-align: center;
}
/*.gss pre {
    color: red;
    font-size: 12666px;
    padding-top: 15%;
    padding-left: 25%;
}*/
.star {
    display: grid;
    grid-column-gap: 0px;
    grid-template-columns:  repeat(5, 1fr);
    justify-content: space-evenly;
    padding-left: 70px;
    padding-right: 60px;
    padding-top: 0%;
  }
  .ls {
    display: inline;
    align-content: center;
    text-align: center;
  }
  .ls pre{
    background-color: rgb(204, 204, 204);
    font-size: 1px;
    margin-block-start: 50%;
    margin-left: 3px;
    margin-right: 3px;
  }

.pizza_back_img{
    margin = 0;
    /*margin-left: -150px;*/
    object-fit: cover;
    padding = 0;
    float: left;
    width:110%;
    height: 100%;
    object-position: -30px  ;
}



/*grid container*/

.grid_header{
    position: absolute;
    font-size: 20px;
    color: black;
    margin : 0;
    margin-top: 5%;
    font-weight: bold;
    margin-right: 10%;
}
.best_restuarnats_grid {
    position: absolute;
    max-width: 600px;
    display: grid;
    grid-column-gap: 50px;
    grid-template-columns: auto auto auto auto;
    padding-top: 1px;
    margin-left: 0%;
    margin-top:5%;
    margin-right:10%;
    
}


.best_restuarnats_grid a {
    text-decoration: none;
}

.restItem {
    width: 90px;
    height: 120px ;
    background-color: transparent;
    /*-webkit-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    -moz-box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.14);*/
    margin: 0%;
    border: 0%;
    padding: 0%;
    margin-top:70%;
    font-size: 18px;
    text-align: center;
    cursor:pointer;
    text-decoration: none;
}

.restItem img{
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 4px;
    border: 0.05px solid silver;
}
.restItem p{
    position: relative;
    color: #414040;
    font-size: 12px;
    text-decoration: none;


}

.restItem_p{
    text-decoration: none;
}

.restItem:hover img{
    -webkit-box-shadow: 1px 1px 10px 4px rgba(220, 220, 220);
    -moz-box-shadow: 1px 1px 10px 4px rgba(220, 220, 220);
    box-shadow: 1px 1px 10px 4px rgb(220, 220, 220);
}
/*foods*/

.foods{

}

.foods h1{
    font-size: 32px;
    position: relative;
    margin :0;
    margin-right: 40%;
    margin-top: 55%;
    color: #414040;
}

.foods p {
    font-size: 25px;
    position: relative;
    margin :0;
    margin-right: 30%;
    margin-top: 2%;
    color: #414040;

}


.foods_grid {
    position: absolute;
    max-width: 800px;
    display: grid;
    grid-column-gap: 25px;

    grid-template-columns: auto auto auto auto;
    margin-left: 0%;
    margin-top:4%;
    margin-right:10%;
    background-color:white;
    
}

.foodItem {
    width:  px;
    height: 250px;
    margin: 0%;
    border: 0%;
    padding: 0%;
    margin-top:0%;
    font-size: 18px;
    text-align: center;
    cursor:pointer;
    text-decoration: none;
}



.foodItem img{
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    border: 0.5px solid gray;
    filter: brightness(50%);

}
.foodItem .p1{
    position: absolute;
    color: white;
    margin: 0;
    margin-top: -13%;
    margin-right: 1%;
    font-size: 24px;

}
 .foodItem .p2{
     position: absolute;
    color: white;
    margin: 0;
    margin-top: -6%;
    margin-right: 1%;
    font-size: 14px;
}

.foodItem:hover .p1{
    
    margin-top: -14%;
}
.foodItem:hover .p2{
    
    margin-top: -7%;
}

/*more foods*/

.p4{
    font-size: 25px;
    position: relative;
    margin :0;
    margin-right: 40%;
    margin-top: 26%;
    color: #414040;
}
.more_foods_grid {
    position: absolute;
    max-width: 1000px;
    display: grid;

    grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px;
    margin-left: 0%;
    margin-top:2%;
    margin-right:13%;
    
    background-color:transparent;
    
}

.item {
    width: 150px;
    height: 60px;
    margin: 0%;
    border: 0%;
    padding: 0%;
    margin-top:15%;
    font-size: 18px;
    text-align: center;
    cursor:pointer;
    background-color: transparent;
    border-radius:15px;
    border : 2px solid sliver;
}


.foodButton {
    width: 100px;
    display:inline-block;
    cursor:pointer;
    color: black;
    font-size:15px;
    padding:10px 2px;
    margin-block-start: 8%;
    text-decoration: none;
    font-weight: bold;
    box-shadow: 0px 0px 20px 1px rgb(240, 240, 240);
    background-color:rgb(265, 265, 265);;
    border-radius: 15px;
}
.foodButton:hover {
    -webkit-box-shadow: 1px 1px 10px 4px rgba(220, 220, 220);
    -moz-box-shadow: 1px 1px 10px 4px rgba(220, 220, 220);
    box-shadow: 1px 1px 10px 5px rgb(220, 220, 220);
}

.foodButton :active {
    position:relative;
}

/*footer*/

.main_footer {
    margin-top: 17%;
    /*position: absolute;*/
    background-color:rgb(32,32,32);
    width: 100%;
    height: 520px;
}
.main_footer .col1 {
    background-color: transparent;
    position: absolute;
    color: #A9A9A9;
    margin-top: 7%;
    margin-right: 10%;
    margin-left: 68%;
    font-size: 13px;
    line-height: 25pt;
}
.main_footer .col1 a{
    color: rgb(75,121,209);
    text-decoration: none;
}

.main_footer .col2 {
    background-color: transparent;
    position: absolute;
    /*color: #A9A9A9;*/
    margin-top: 4%;
    margin-right: 37%;
    margin-left: 6%;
    font-size: 13px;
    

}
.main_footer .col2 hr.thin {
height: 3px;
border: 0;
color: #333;
background-color: purple;
width: 150px;
}
.main_footer .col2 h1{
    /*display: inline;*/
    margin-top: 23%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: normal;
}


.footer_list {
    margin-top: 20%;
    background-color: transparent;
    color: #A9A9A9;
    text-decoration: none;
    list-style-type: none;
}
.footer_list_link {
    color: #A9A9A9;
    line-height: 25pt;
    text-decoration: none;
}
.footer_list_apps{

}


.main_footer .col3 {
    background-color: transparent;
    position: absolute;
    /*color: #A9A9A9;*/
    margin-top: 4%;
    margin-right: 52%;
    margin-left: 6%;
    font-size: 13px;
    

}
.main_footer .col3 hr.thin {
height: 3px;
border: 0;
color: #333;
background-color: rgb(202,0,94);
width: 150px;
}
.main_footer .col3 h1{
    /*display: inline;*/
    margin-top: 23%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

/**/
.main_footer .col4 {
    background-color: transparent;
    position: absolute;
    /*color: #A9A9A9;*/
    margin-top: 4%;
    margin-right: 67%;
    margin-left: 6%;
    font-size: 13px;
}

.main_footer .col4 hr.thin {
height: 3px;
border: 0;
color: #333;
background-color: rgb(255,6,19);
width: 150px;
}
.main_footer .col4 h1{
    /*display: inline;*/
    margin-top: 23%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.main_footer .col5 {
    background-color: transparent;
    position: absolute;
    /*color: #A9A9A9;*/
    margin-top: 4%;
    margin-right: 82%;
    margin-left: 6%;
    font-size: 13px;
    

}
.main_footer .col5 hr.thin {
height: 3px;
border: 0;
color: #333;
background-color: rgb(255,195,9);
width: 150px;
}
.main_footer .col5 h1{
    /*display: inline;*/
    margin-top: 23%;
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-weight: normal;
}

.footer-app1{
    background:url(../images/google-play-dark.png) no-repeat;
    cursor:pointer;
    /* border:none; */
    border: 1px solid transparent;
    border-color:#4a4a4a;
    border-radius: 5px;
    width: 130px; 
    height:40px;
    background-size: cover;
}
.footer-app2{
    background:url(../images/sib-app-dark.png) no-repeat;
    cursor:pointer;
    /* border:none; */
    border: 1px solid transparent;
    border-color:#4a4a4a;
    border-radius: 5px;
    width: 130px; 
    height:40px;
    background-size: cover;
}
.footer-app3{
    background:url(../images/cafebazaar-dark.png) no-repeat;
    cursor:pointer;
    /* border:none; */
    border: 1px solid transparent;
    border-color:#4a4a4a;
    border-radius: 5px;
    width: 130px; 
    height:40px;
    background-size: cover;
}

 .logos{
    display: inline;
    position: relative;
    background-color: transparent;
    top: 60%;
    right: 40%;
    height: 10%;
}

.footer2{
    position: absolute;
    background-color: rgb(25,25,25);
    width: 100%;
    height: 10%;
}

.footer2 p{
    direction: ltr;
    position: relative;
    color: #A9A9A9;
    left: 80%;
    top: 70%;
    font-size: 13px;
}

.footer2 .brands_grid {
    position: absolute;
    max-width: 1000px;
    display: grid;

    grid-template-columns: 50px 50px 50px 50px 50px;
    margin-left: 0%;
    margin-top:1.5%;
    margin-right:75%;
    color: rgb(155,155,155);
    font-size: 0.7em;
    
    background-color:transparent;
    
}




